* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(89, 109, 140);
    text-align: center;
}

.container {
    border: 

}
a, h1 {
    color: rgb(204, 214, 93);
    border: 2px solid rgb(53, 77, 108);
    text-size: 24px;
    padding: 10px;
}

p, .steps{
    margin: 20px auto;
    text-align: left;
    width: 1000px;
    border: 2px dotted rgb(53, 77, 108);
}

.ingredients {
    margin: 20px auto;
    text-align: left;
    width: 400px;
    border: 2px dotted rgb(53, 77, 108);
}

h2 {
    color: rgb(149, 162, 10);
    text-align: center;
}